body {
    background-color: #000000;
}

.main {
    width: 800px;
    height: 200px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -400px;
}

.logo {
    width: 200px;
    height: 200px;
}

.langs {
    width: 100px;
}

.langs span {
    color: #a8a8a8;
    margin-right: 20px;
    padding: 5px;
    font-size: 1.0em;
    display: block;
}

.langs span:hover {
    color: #000000;
    cursor: pointer;
    background-color: #a8a8a8;
}

.label {
    font-size: 4em;
    margin-right: 50px;
    color: #a8a8a8;
}

.time {
    font-size: 9em;
    color: #ffffff;
}

.github {
    float: right;
}
