body {
    background-color: #a3a3a3;
    background-color: #1a1717;
}

.main{
    width:800px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-150px 0 0 -350px;
}

.label {
    font-size: 4em;
    margin-right: 50px;
    color: #a8a8a8;
}

.time {
    font-size: 9em;
    color: #ffffff;
}

.github {
    float: right;
}
